body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
/******************************************
HEADER (contains nav, title)
*******************************************/
.cover {
  position: absolute;
  height: 523px;
  width: 100%;
  background-color: rgba(221, 230, 204, .35);
  /*opacity: .35;*/
}
header {
  position: relative;
  background-image: url(NY.jpg);
  height: 523px;
  background-size: cover;
}

/***************************
          nav
****************************/
.nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 2.75%;
  position: relative;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  margin-left: 14px;
  letter-spacing: 2px;
}
.nav-title {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
}
.information {
  float: right;
  margin-top: 10px;
}
.information ul {
  margin-top: 3px;
  padding: 0;
}
.information li {
  list-style: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 17.5px;
}

.about {
  margin-right: 8px;
}
.about  {
  position: relative;;
  top: -5px;
  left: -1.5px;
}
.search {
  position: relative;
  top: -5px;
  left: 1.5px;

}
.img {
  margin-top: 4px;
  margin-right: 2px;
}
/***************************
          title
****************************/
.surf {
  font-family: 'Open Sans', sans-serif;
  font-size: 102px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 0;
  letter-spacing: -3px;
  position: relative;
}
.spring {
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
  margin-left: -7px;
  padding: 0;
  position: relative;
}

/*******************************************************************************
BODY (contains  headline and contents, side bar, and most popular posts )
*******************************************************************************/

/*******************************
headline title, author and date
*******************************/

.headline {
  display: inline-block;
  max-width: 615px;
  max-height: 937px;
  margin-left: 164px;
  margin-top: 12px;
  padding: 0;

}
.headline-head {
  margin-top: 39px;
}
.headline-sub1 {
  font-family: 'Oswald', sans-serif;
  font-size: 57px;
  font-size: 63px;
  margin-bottom: 0;
  letter-spacing: -1.4px;
}
.headline-sub2 {
  position: relative;
  top: -25px;
  font-family: 'Oswald', sans-serif;
  font-weight: none;
  font-size: 57px;
  font-size: 63px;
  margin-top: 0;
}
.author-description {
  margin: 0;
  padding: 0;
  position: relative;
  top: -29px;

}
.author  {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.author-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 1.5px;
  padding-right: 3px;

}
.author-img img {
  border-radius: 50%;
}
.author-date {
  display: inline-block;
  margin-left: 12px;
  position: relative;
  top: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12.3px;
}
.author-date span {
  text-decoration: underline;
}

/*********************
  headline contents
*********************/
