body {
  /*margin: 0 auto;*/
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

/******************************************
HEADER (contains nav, title)
*******************************************/
.cover {
  position: absolute;
  height: 523px;
  width: 100%;
  background-color: #14508A;
  opacity: .8;
}
header {
  position: relative;
  background-image: url(NY.jpg);
  height: 523px;
  background-size: cover;
}


/***************************
          nav
****************************/
.nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 2.75%;
  position: relative;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  margin-left: 14px;
  letter-spacing: 2px;
}
.nav-title {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
}
.information {
  float: right;
  margin-top: 10px;
}
.information ul {
  margin-top: 3px;
  padding: 0;
}
.information li {
  list-style: none;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 17.5px;
}

.about  {
  position: relative;;
  top: -5px;
  left: -1.5px;
}
.search {
  position: relative;
  top: -5px;
  left: 1.5px;

}
.img {
  margin-top: 4px;
  margin-right: 2px;
}
/***************************
          title
****************************/
.surf {
  font-family: 'Open Sans', sans-serif;
  font-size: 102px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 0;
  letter-spacing: -3px;
  position: relative;
}
.spring {
  font-size: 15px;
  text-align: center;
  margin-top: -20px;
  margin-left: 11px;
  padding: 0;
  position: relative;
}

/*******************************************************************************
BODY (contains  headline and contents, side bar, and most popular posts )
*******************************************************************************/

/*******************************
headline title, author and date
*******************************/

.headline {
  /*display: inline-block;*/
  max-width: 615px;
  max-height: 937px;
  margin-left: 164px;
  margin-top: 12px;
  margin-right: 83px;
  padding: 0;
  float: left;

}
.headline-head {
  margin-top: 39px;
}
.headline-sub1 {
  font-family: 'Oswald', sans-serif;
  font-size: 57px;
  font-size: 63px;
  margin-bottom: 0;
  letter-spacing: -1.4px;
}
.headline-sub2 {
  position: relative;
  top: -25px;
  font-family: 'Oswald', sans-serif;
  font-weight: none;
  font-size: 57px;
  font-size: 63px;
  margin-top: 0;
}
.author-description {
  margin: 0;
  padding: 0;
  position: relative;
  top: -29px;

}
.author  {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.author-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 1.5px;
  padding-right: 3px;

}
.author-img img {
  border-radius: 50%;
}
.author-date {
  display: inline-block;
  margin-left: 12px;
  position: relative;
  top: 1px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12.3px;
}
.author-date span {
  text-decoration: underline;
}

/*********************
  headline contents
*********************/
.paragraphs {
  margin-top: 4px;

}
.bodyp {
  line-height: 168%;
  color: gray;
  font-size: 15.4px;
  letter-spacing: 0.06px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
#secondp span{
  text-decoration: underline;
}
#bquote {
  margin-left: 5px;
  margin-bottom: 0;
  border-left: 2px solid gray;
  height: 56px;
  position: relative;
  bottom: 18px;
}
#bquote p {
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 29px;
  letter-spacing: -.92px;
  position: relative;
  top: 18px;

}
#thirdp {
  margin-top: 9px;
  letter-spacing: -.5px;
}

.bnav {
  list-style: none;
  padding: 0;
}
.bnav li {
  display: inline-block;
  background-color: #5D686E;
  height: 33px;
  color: white;
}
.bnav i {
  width: 29px;

}
.bnav button {
  border: none;
  background-color: #A3B2BF;
  color: white;
  height: 33px;
}
/*******************************
          sidebar
*******************************/
.sidebar {
  max-width: 278px;
  /*max-height: 937px;*/
  display: inline-block;
  margin-top: 83px;
  margin-bottom: 155px;

}
.author-information img {
  display: inline-block;
  margin-left: 34.8920%;
  margin-right: 34.8920%;
  border-radius: 50%;
}
.author-information h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: ;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 2px;
  padding: 0;
  letter-spacing: -1.8px;
}
.author-information ul {
  padding-bottom: 50px;
  margin: 0 auto;
}
.author-information li {
  display: inline-block;
  list-style: none;
}
.ad {
  float: right;
  margin-top: 4px;
}
.side-description {
  float: left;
}
.side-description h3 {
  font-family: 'Oswald', sans-serif;
  margin-top: 28px;
}
.side-description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 160%;
  position: relative;
  top: -14px;
}
/***************
Popular posts
****************/
.popular  {
  border-top: 1px solid gray;
}
#popular-cover1 {
  position: absolute;
  background-color: #073553;
  opacity: .35;
  height: 330px;
  width: 320px;
  display: inline-block;
}


#popular-cover2 {
  position: absolute;
  background-color: #073553;
  opacity: .35;
  height: 330px;
  width: 320px;
  display: inline-block;

}
#popular-cover3 {
  position: absolute;
  background-color: #073553;
  opacity: .35;
  height: 330px;
  width: 320px;
  display: inline-block;

}
#popular-cover4 {
  position: absolute;
  background-color: #073553;
  opacity: .35;
  height: 330px;
  width: 320px;
  display: inline-block;
}
.pop-cov {
  transition: all 2s;
}
.pop-cov:hover {
  background-image: url("http://www.nicenicejpg.com/320/330");
  color: yellow;

}

.popular h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  text-align: center;
  margin-top: 22px;
  margin-left: 13px;
  margin-bottom: 30px;
  word-spacing: 2px;
  letter-spacing: -0.7px;
  font-weight: normal;
}
.pimages ul{
  padding: 0;
}
.pimages li {
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  color: #073553;
  background-image: url("http://www.nicenicejpg.com/320/330");
  list-style: none;
  height: 330px;
  padding: 0;
  display: inline-block;
  width: 320px;
  float: left;
}
.pimages p {
  font-size: 28px;
  margin-top: 281px;
  margin-left: 30px;
  font-weight: bolder;
}


/********************************************************
FOOTER (contains IY logo, copyright, and navigation items)
*********************************************************/
footer {
  margin-top: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  padding-left: 151px;
  background-color: #073553;
  color: #A3B2BF;
}
.footer-logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: -19px;
  color: #9CAEBA;

}
.footer-title {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  margin-top: -18px;
  font-size: 14px;
  word-spacing: -2.7px;
  letter-spacing: 0.03px;
}
.footer-info {
  float: right;
}
.footer-info ul {
  margin-top: 5px;
  font-size: 13.5px;
  margin-right: 140px;

}
.footer-info li {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  list-style: none;
  display: inline-block;
  word-spacing: -1px;
  letter-spacing: -0.7px;
  color: #A3B2BF;
}
.footer-info span {
  margin-left: 3px;
}
